		html{
		background: url(../images/background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
		body {
			display: block;
			margin-top: 8px;
			margin-bottom: 0px;
			margin-left: 8px;
			margin-right: 8px;
			font-family:Veranda, Geneva, sans-serif;
			font-size:12px;
		}
		.photo{
			width:150px;
			height:150px;
		}
		#gal{
			max-width:inhereted;
			padding:auto;
		}
		nav {
			background-color:#333333;
			height:20px;
			padding: 5px;
			border-radius: 0px 0px 15px 15px;
		}
		
		#container {
			font-family:Veranda, Geneva, sans-serif;
			font-size:12px;
			width: 100%;
			color:#333;
			
		}
		.post{
			color: #ACB5EC;
			background-color: #111;
			border-Style: solid;
			border-color: black;
			border-radius: 15px;
			margin-left: 10px;
			margin-right: 10px;
		}

		#content {
			overflow: auto;
		}

		header {
			background-color:#7c7b7c;
			height:175px;
			color:#FFF;	
			border-radius: 15px 15px 0px 0px;
		}
		 
		 header img {
			 width: 100%;
			 height:100%;
			 border-radius: 15px 15px 0px 0px;
		 }

		 table a:link {
			 color:black;
		 }

		a:link {
			color: #EEBFED;
			text-decoration: none;
		}
		
		a:hover {
			color: #B05AA5;
			text-decoration: underline;
		}

		a:visited {
			color: #ACB5EC;
		}

		nav ul {
			 list-style-type:none;
			 margin-top: 0px;
			 margin-left: -35px
		}
			
		nav li {
			 display:inline;
			 padding-top: 5px;
			 padding-right:40px;
		}
		.sticky{
			position: -webkit -sticky;
			position: sticky;
			top: 0px;
			margin-bottom: 1%;
		}
		
		.headshot {
			border-radius: 15px;
			padding: 8px;
		}
		
		#paypal {
			width: 50%;
			padding-left: 23%;
			padding-right: 20%;
		}
		
		#ad{
			margin-top: auto;
			top: 40px;
			float: left;
			width: 23%;
			height: auto;
			background-color: rgba(255, 255, 255, 0.00000001);
			position: sticky;
			margin-left: 1%;
			margin-right: 1%;
		}
		
		#colOne2 {
			opacity: 0.25;
		}
		
		#imgHolder img {
			width: 100%;
			height: auto;
		}
		#myContact {
			font-family: Veranda, Geneva, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		
		fieldset {
			width: 90%;
			float: left;
		}
		
		form label {
			width: 35%;
			display: block;
			float: left;
			padding: 5px;
		}
		
		form input[type="text"], input[type="email"] {
			padding: 5px;
			margin: 5px;
		}
		
		#submit {
			background-color: #A62A68;
			color: #B4BEF1;
			border: 2px solid #EEBFED;
			margin-right: 1%;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			float: right;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
			border-radius: 4px;
		}
		
		#submit:hover {
			background-color: #EEBFED;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			color: #38192A;
		}
		
		#submit span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
		}

		#submit span:after {
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;
		}

		#submit:hover span {
			  padding-right: 25px;
		}

		#submit:hover span:after {
			  opacity: 1;
			  right: 0;
		}
		
		.submit-2 {
			background-color: #EEBFED;
			color: #A62A68;
			border: 2px solid #4D445C;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			transition: all 0.5s;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
			border-radius: 4px;
		}
		
		.submit-2:hover {
			background-color: #EEBFED;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			color: #38192A;
		}

		.submit-2 span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
		}

		.submit-2 span:after {
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;
		}

		.submit-2:hover span {
			  padding-right: 25px;
		}

		.submit-2:hover span:after {
			  opacity: 1;
			  right: 0;
		}
		
		/*form input[type="radio"] {
			padding: 5px;
			margin: 5px;
		}*/
		
		form select {
			width: auto;
			padding: 5px;
			margin: 5px;
		}
		
		form textarea {
			width: 60%;
			padding: 5px;
			margin: 5px;
		}
		
		#message {
			width: 56%;
			height: 100px;
		}
		
		#colTwo {
			width: auto;
			float: none;
			border-radius: 15px;
		}
		
		#contact_form {
			width: 72.5%;
			float: left;
			color: #FFF;
		}
		
		.form-control {
			width: 35%;
			padding: 5px;
			margin: 5px;
		}
		
		#address {
			float: left;
		}
		
		.topic {
			border-radius: 5px;
			color: black;
		}
		
		#spacing {
			height: 100px;
		}
		
		footer {
			background-color:#333333;
			height:10px;
			width: 97%;
			bottom: 0px;
			color:#EEBFED;
			margin-right: 4px;
			padding-top: .5%;
			padding-left: .5%;
			padding-bottom: .5%;
			padding-right: .5%;
			position: fixed;
			border-radius: 5px 5px 0px 0px;
		}
		#footer_table{
			visibility: hidden;
			padding-top: 90000px;
			margin-top:9000px;
		}
		table a:link{
			color: black;
		}
		table a:visited {
			color: black;
		}
		#footer_table td {
			padding: 0.5%;
			width: 20%;
		}
		table#footer_table {
			width: 150%;
		}
		
		#footer_nav {
			float: left;
		}
		
		#footerCopyright {
			float: right;
			padding-top: 2.7px;
			padding-right: 3%;
		}
		
		/*#newTopicBTN {
			float: right;
			padding-top: 2.7px;
		}*/
		
		h1 {
			font-size:18px;
			color:#C645C9;
		}
		
		h2 {
			font-size:16px;
			color:#ce0000;
		}
		.show{
			height: 15px;
			margin: 30px;
		}
		h3 {
			font-size:14px;
			color:#BDADEF;
		}
		/*#example {

			text-align: justify;
			-ms-text-justify: distribute-all-lines;
			text-justify: distribute-all-lines;

			min-width: 600px;
			max-width: 1800px;
		}

		#example > #imageRow {
			margin-top: 10px;
			width: 150px;
			height: 150px;
			vertical-align: top;
			display: inline-block;
			*display: inline;
			zoom: 1
		}
		.span{
			width: 100%;
			display: inline-block;
			font-size: 0;
			line-height: 1;
		}*/
		.imageRow {
			
		}
		
		.imageRow .single {
			float: left;
			max-width: 100%;
		}
		.imageRow .single a {
			 float: left;
			 display: block;
			 background-color: rgba(255, 255, 255, 0.1);
			 padding: 7px;
			 line-height: 0;
			 margin: 10px;
		}
		.imageRow .single a:hover {
			 background-color: rgba(0, 0, 0, 0.2);
			 border-style: solid;
			 border-width: 3px;
			 border-color: rgba(0, 0, 0, 0.3);
			 padding:4px;
=======
			 background-color: rgba(0, 0, 0, 0.2);
			 border-style: solid;
			 border-width: 3px;
			 border-color: rgba(0, 0, 0, 0.3);
			 padding:4px;
>>>>>>> 7547c526b990f639c7e5ab91e67e0b2b0d8845cc
		}
		footer:hover, #footer_table{
			visibility: visible;
			height: auto;
			padding-top: 5px;
			margin-top: 5px;
		}
			@media (max-width: 600px){
				body {
					
					}
					#container {
						width:auto;
					}
					header{
						
					}
					nav{
						height:auto;
						padding: 0px;
						background-color:#333333;
						padding: 0px;
					}
									
					
					nav ul{
						background-color:#333333;
						list-style-type:none;
						margin-top: 0px;
						margin-left: 0px
					}
					nav li {
						
						display:block;
					}
					#submit {
					background-color: #D3D3D3;
					float: none;
					}
					nav a:link
					{
						display:block;
						
						border-bottom:1px solid black;
						
					}
					a:hover {
						color: green;
						text-decoration: underline;
						
					}
					#content {
						padding-left: 0px;
						width: 100%;
						
					}
					#paypal {
						width: 0;
						padding-left:0;
						padding-right: 0;
					}
					.sticky{
						position:relative;
						position:relative;
						top:0px;
						margin-bottom: 0px;
					}
					
					#ad{
						top: 0px;
						margin-top: 0px;
						float: none;
						width: auto;
						height: 250px;
						padding: 0;
						
						position: relative;
						margin-left: 0;
						margin-right:0;
					}
					
					#imgHolder img {
						width: 100%;
						height: 250px;
					}
					
					#colTwo {
						width: auto;
						float: none;
					}
					.post{
						color: white;
						background-color: #111;
						border-Style: solid;
						border-color: black;
						margin-top: 0px;
						margin-left: 0px;
						margin-right: 0px;
					}
					footer {
						background-color:#333333;
						height:auto;
						color:#FFF;
						padding-top: 0px;
						padding-left: 0px;
						padding-right: 0px;
					}
					#footer_nav a:link {
						color: #FFF;
						text-decoration: none;
						display:block;
						
						border-bottom:1px solid black;
					}
					#footer_nav a:visited {
						color:#FFFFFF;
					}
					
					#footer_nav ul {
						 list-style-type:none;
						 margin-top: 0px;
						 margin-left: 0px
					}
						
					#footer_nav li {
						 display:block;
						 padding-top: 0px;
						 padding-right:0px;
					}
					
					#footer_nav {
						float: none;
					}
					table#footer_table {
						width: 100%;
					}
					#seniorPic {
						border: 0px solid #ddd;
						border-radius: 0px;
						padding: 0px;
						height: auto;
						max-width: auto;
					}
					
			}}